:root {
    --main-color-h: 344;
    --main-color-s: 95%;
    --main-color-l: 77%;
    --main-color: hsl(
      var(--main-color-h),
      var(--main-color-s),
      var(--main-color-l)
    );
    --darken: 5%;
   /* --darker-color: hsl(
      var(--main-color-h),
      var(--main-color-s),
      calc(var(--main-color-l) - var(--darken))
    );*/
      --darker-color: hsl(
      var(--main-color-h),
      var(--main-color-s),
      calc(var(--main-color-l) - var(--darken))
    );
  }
  /* 
  - Définir une variable sur l'élément global correspondant à la couleur primaire (--main-color) du theme
  - Le background du header et footer sont définis par la variable CSS
  - la div subtitle adopte une couleur plus sombre que celle du header
  */
  
  * {
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    text-align: center;
  }
  html,
  body {
    height: 100%;
  }
  header {
    background: var(--main-color);
  }
  .subtitle {
    background: var(--darker-color);
  }
  h1 {
    margin: 0;
    padding: 1rem;
    color: white;
  }
  .subtitle {
    padding: 0.5rem 1rem;
  }
  main {
    flex: 1;
    padding: 1rem;
  }
  main > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }
  input {
    width: 120px;
    height: 40px;
  }
  h3 {
    margin-top: 1rem;
  }
  footer {
    padding: 1rem;
    background: var(--main-color);
  }
  