.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: min-content 1fr min-content;
  height:300px;
}

header{
  grid-column: 1 / span 3;
  grid-row: 1;
}

nav, aside{
  align-self: start;
}

footer {
  grid-column: 1/ span 3;
  grid-row:3;
}

@media (max-width: 640px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
  
  header{
    grid-column:1;
  }
  
  footer{
    grid-column:1;
    grid-row:5;
  }
}