.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: min-content 1fr min-content;
  height:300px;
}

header{
  grid-column: 1 / span 3;
  grid-row: 1;
}

footer {
  grid-column: 1/ span 3;
  grid-row:3;
}