/* Move down content because we have a fixed navbar */
.jumbotron {
  padding-top: 5rem;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.vh-full {
  height: 100vh;
  border-radius: 0;
}


.btn, .dropdown-menu {
    border-radius: 0;
}