

h3 {
  padding-top: 1.5rem;
  /* padding-bottom: 0.5rem; */
}
p {
  text-indent: 2rem;
}
ul.algo li {
  list-style-type: none;
}

ul.algo li:before {
  content: "\25b7  "; /*\2423\203a*/
  color: #92b9bd;
}
ul.algo-sub li:before {
  content: "\25be";
  color: #92b9bd;
}
.cutout {
  float: left;
  margin: 0.5rem 0.5rem 1rem 0rem;
  /* flex-grow: 1; */
}

.diagram {
  width: 90%;
}


@media (max-width: 768px) {
    :root {
      font-size: 0.6em;
    }
    .cutout {
        float: none;
        display: block;
        width: 25%;
        margin: 0.5rem auto 0rem auto;
      }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    :root {
      font-size: 0.85em;
    }
    /* html {
      height: 100%;
      font-size: 0.5;
    } */
    /* body {
    } */
    .cutout {
      float: none;
      display: block;

      margin: 0.5rem auto 0rem auto;
    }
  }