@keyframes slingshot-d {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 10rem;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 10rem;
    top: 10rem;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 10rem;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes distance-d {
  0% {
    content: "2";
  }
  50% {
    color: white;
  }
  100% {
    content: "5";
  }
}

.demo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5em;
}
nav hr {
    background-color: #000;
    height: 3px;
    border: none;
    border-radius: 5px;
  }

  .nav-back {
    flex-basis: 25%;
  }
div.bucket {
  width: 5rem;
  height: 5rem;
  background-color: #92b9bd;
  font-size: 1.5em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px -1px 0px -1px;
  align-items: center;
  position: relative;
  border-style: solid dashed;
  border-width: 2px 2px 2px 2px;
  border-color: #444444;
  border-radius: 1px;
}

.key {
  font-family: IBM Plex Serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #ffffff;
  /* background-color: #444444; */
}
.empty {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 2rem;
  color: #444444;
  /* background-color: #444444; */
}
div.a {
  background-color: #bfabff;
  animation: slingshot-a 5s linear 2s infinite alternate;
}
div.b {
  background-color: #a63aff;
}
div.c {
  background-color: #b500e3;
}
div.d {
  background-color: #4100b0;
  animation: slingshot-d 5s linear 2s 1 forwards;
}
div.e {
  background-color: #040084;
}
div.f {
  background-color: #1300f9;
}
div.g {
  background-color: #83c8ff;
}
div.h {
  background-color: #5b9ccc;
}
div.i {
  background-color: #02cec0;
}
div.j {
  background-color: #c4fffc;
}
div.k {
  background-color: #bfabff;
}
div.l {
  background-color: #92b9bd;
}
/* .d {
  
  } */
.a:after {
  content: "0";
}
.b:after {
  content: "1";
}
.c:after {
  content: "2";
}
.d:after {
  content: "2";
}
.e:after {
  content: "3";
}
.f:after {
  content: "4";
}
.g:after {
  content: "4";
}
.h:after {
  content: "4";
}
.i:after {
  content: "3";
}
.j:after {
  content: "4";
}
.k:after {
  content: "0";
}
.l:after {
  content: "\23b5"; /*"\2205"; \2022*/
}
/* .d {
  
  } */
.d:after {
  animation: distance-d 3s linear infinite alternate;
  display: block;
  content: "2";
}
.clear-float {
  clear: both;
}
@media (max-width: 768px) {
  div.bucket {
    width: 2.5rem;
    height: 2.5rem;
  }
  .key {
    font-family: IBM Plex Serif;
    font-weight: 700;
    font-size: 0.75em;
    color: #ffffff;
  }
  .empty {
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-size: 2rem;
    color: #444444;
    /* background-color: #444444; */
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
    div.bucket {
        width: 3.5rem;
        height: 3.5rem;
      }
      .key {
        font-family: IBM Plex Serif;
        font-weight: 700;
        font-size: 1em;
        color: #ffffff;
      }
}

/* @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,500,700,900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,500,700,900&display=swap"); */
/* font-family: IBM Plex Sans; */
/* font-family: IBM Plex Mono; */
/* font-family: IBM Plex Serif; */
/* background: linear-gradient(
    135deg,
    rgba(84, 56, 180, 0.3) 33%,
    transparent 33%
  ) -33px 0px,
linear-gradient(225deg, rgba(84, 56, 180, 0.2) 33%, transparent 33%) -33px 0px,
  linear-gradient(315deg, rgba(84, 56, 180, 0.3) 33%, transparent 33%) 66px 0px,
  linear-gradient(45deg, rgba(84, 56, 180, 0.2) 33%, transparent 33%) 66px 0px;
background-size: 100px 100px;
background-color: #c446cd;
} */
/* .cv-photo-list {
  flex-grow: 4;
} */

/* .photo-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
