@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,500,700,900&display=swap");

html {
  height: 100%;
  overflow: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  line-height: 1;
  padding: 1rem;
  color: #444;
  background: linear-gradient(
        135deg,
        rgba(84, 56, 180, 0.2) 25%,
        transparent 25%
      ) -50px 0px,
    linear-gradient(225deg, rgba(84, 56, 180, 0.1) 25%, transparent 25%) -50px 0px,
    linear-gradient(315deg, rgba(84, 56, 180, 0.2) 25%, transparent 25%) 0px 0px,
    linear-gradient(45deg, rgba(84, 56, 180, 0.1) 25%, transparent 25%) 0px 0px;
  background-size: 100px 100px;
  background-color: #c446cd;
}

.grid-container {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  grid-template-columns: 0.75fr;
  grid-template-rows: 1fr 2rem;
  grid-template-areas: "article" "sig";
}
/*--------------------------------------------------------------- sections ---*/
header {
  border-radius: 16px 16px 0px 0px;
  background-color: #d9e2ea;
  margin: -1rem -1rem;
  padding: 0.75rem 0.75rem 0.6rem 0.75rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 2.5rem;
}

nav {
  background-color: #d9e2ea;
  margin: 1rem -1rem -1rem -1rem;
  padding: 2rem 2rem 2rem 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
}

nav em:before {
  font-size: 1.45rem;
  content: "[";
  color: #ffffff;
}
nav em:after {
  font-size: 1.45rem;
  content: "]";
  color: #ffffff;
}

nav a,
nav a:visited {
  color: #92b9bd;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-line: overline;
  text-decoration-line: overline;
  -webkit-text-decoration-color: #ffffff;
  text-decoration-color: #ffffff;
}
nav a:hover,
nav a:focus {
  text-decoration-thickness: 2px;
  color: #92b9bd;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-color: #92b9bd;
  text-decoration-color: #92b9bd;
}

article {
  grid-area: article;
  border-radius: 16px 16px 2px 2px;
  background: #ffffff;
  padding: 1rem 1rem;
  box-shadow: 0px 2px 7px 0px #3b3854;
}
/*------------------------------------------------------------- formatting ---*/
b {
  font-weight: 700;
}

strong {
  font-weight: 700;
  color: #92b9bd;
}

i {
  font-weight: 500;
  color: #92b9bd;
}
em {
  font-family: IBM Plex Mono;
  font-weight: 500;
  color: #92b9bd;
  font-style: normal;
}
em:before {
  content: "{";
  color: #d9e2ea;
}
em:after {
  content: "}";
  color: #d9e2ea;
}
mark {
  background-color: #d9e2ea;
  padding: 0rem 0.25rem;
}
h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-family: IBM Plex Mono;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 4rem;
  letter-spacing: -0.2rem;
}
h1:before {
  content: "{ ";
  color: #d9e2ea;
}
h1:after {
  content: " }";
  color: #d9e2ea;
}

h2 {
  padding-top: 0.5rem;
}
h3 {
  padding-top: 1.5rem;
}

p {
  line-height: normal;
  text-indent: 2rem;
}

hr {
  background-color: #d9e2ea;
  height: 3px;
  border: none;
  border-radius: 5px;
}
/*------------------------------------------------------------------ links ---*/
a {
  color: #c446cd;
  font-weight: 900;
  padding: 1em 0;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1.5px;
  -webkit-text-decoration-color: #d9e2ea;
  text-decoration-color: #d9e2ea;
}

a:hover,
a:focus {
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  -webkit-text-decoration-color: #92b9bd;
  text-decoration-color: #92b9bd;
  text-decoration-thickness: 1.5px;
}

a:visited {
  -webkit-text-decoration-color: #d9e2ea;
  text-decoration-color: #d9e2ea;
}
/*------------------------------------------------------------------ lists ---*/
ul {
  background: #d9e2ea;
  padding: 15px;
}
ul li {
  color: #444444;
  text-indent: 1rem;
  margin-bottom: 0.5rem;
  list-style-type: square;
  list-style-position: inside;
}

ul ul li {
  list-style-type: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  text-indent: 2.5rem;
}

ul.algo li {
  list-style-type: none;
  text-indent: 0rem;
}

ul.algo li:before {
  content: "\25b7  "; /*\2423\203a*/
  color: #92b9bd;
}
.algo-sub:before {
  content: "\25be";
  color: #92b9bd;
}
.algo-sub {
  text-indent: 2rem;
}
.algo-sub-sub {
  text-indent: 4rem;
}
.algo-sub-sub:before {
  content: "\25be";
  color: #92b9bd;
}
li.sublist-wrapper {
  list-style-type: none;
  margin-top: -0.5rem;
  text-indent: 2.5rem;
}
/*------------------------------------------------------------------- figures */
figure {
  margin: 0 16% 0 auto;
  width: 50%;
}

figcaption {
  color: #92b9bd;
}
.img-auto {
  width: 66%;
  height: auto;
}
/*--------------------------------------------------------------------- popup */
.cv-photo {
  float: left;
  margin: -16px 10px 0px 0px;
  border: 8px solid #d9e2ea;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-text-decoration-line: overline;
  text-decoration-line: overline;
  text-decoration-thickness: 8px;
  -webkit-text-decoration-color: #444444;
  text-decoration-color: #444444;
  color: #e8f044;
}

.popup:hover {
  -webkit-text-decoration-color: #e8f044;
  text-decoration-color: #e8f044;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  text-decoration-thickness: 8px;
}

.popup img {
  margin: 4rem 0 0 0;
  max-width: 80%;
  max-height: 80%;
  background-color: #ffffff;
  box-shadow: 2px 3px 7px 1px #3b3854;
  border: 32px solid #eaf3fa;
}

#cv-photo-popup:after {
  content: "JIM BIG";
  color: #e8f044;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.popup:target {
  display: block;
}
/*---------------------------------------------------------- footer signature */
.container-sig {
  grid-area: sig;
  text-align: end;
}
.sig {
  color: #e8f044;
  text-decoration-thickness: 2px;
}

a.sig {
  -webkit-text-decoration-color: #e8f044;
  text-decoration-color: #e8f044;
}
.svg-sig {
  margin: -2px;
  fill: #e8f044;
  vertical-align: text-bottom;
}
/*------------------------------------------------------------ color swatches */
.container-swatch {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
}
.container-swatch li {
  margin-left: 2rem;
  margin-top: 0.25rem;
  /* flex: 1; */
}

.swatch-header {
  display: block;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.container-swatch em {
  padding-right: 2rem;
  flex: 1;
}
.swatch {
  height: 18vw;
  /* width: 12vw; */
  margin: 0.5rem 0.375rem 1rem 0.375rem;
  padding: 0 0.5rem 0rem 0rem;
  border-radius: 8px;
  flex-grow: 1;
}
.color1 {
  background-color: #c446cd;
}
.color2 {
  background-color: #e8f044;
}
.color3 {
  background-color: #d9e2ea;
}
.color4 {
  background-color: #92b9bd;
}
.color5 {
  background-color: #444444;
}
/*---------------------------------------------------------------------- misc */
.diagram {
  width: 90%;
}
.cutout {
  float: left;
  margin: 0.5rem 0.5rem 1rem 0rem;
}
/*------------------------------------------------------------- media queries */
@media (max-width: 768px) {
  :root {
    font-size: 0.7em;
  }
  .grid-container {
    grid-template-columns: 0.95fr;
  }
  article {
    grid-area: article;
    border-radius: 16px 16px 2px 2px;
    background: #ffffff;
    padding: 1rem 1rem;
    box-shadow: 0px 2px 7px 0px #3b3854;
  }
  header svg {
    width: 64px;
  }
  nav {
    flex-wrap: wrap;
  }
  nav em {
    padding: 0rem 0rem 1rem 0rem;
  }
  nav em:before,
  nav em:after {
    content: "";
  }
  .container-swatch {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .swatch-header {
    font-size: 1.15rem;
  }
  .swatch {
    height: 6vw;
    margin: 0.375rem 0.375rem 0rem 0.375rem;
    width: 100%;
  }
  .cutout {
    float: none;
    display: block;
    width: 50%;
    margin: 0.5rem auto 0rem auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  :root {
    font-size: 0.85em;
  }
  .grid-container {
    grid-template-columns: 0.85fr;
  }
  nav em {
    font-size: 0.9rem;
  }

  .cutout {
    float: none;
    display: block;

    margin: 0.5rem auto 0rem auto;
  }
}

/* @media (min-width: 1025px) and (max-width: 1268px) {
    .grid-container {
        grid-template-columns: 0.85fr;
      }
} */
